* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

#navbar {
    float: left;
    position: fixed;
    left:0;
    top:0;
    width: 18em;
    height: 100%;
    border-right: 2px solid #8B8B8B;
}

header h1{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.8rem 0;
    padding-left: 1em;
}

header h1 span {
    color: #6A6A6A;
    font-size: 1.1rem;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.nav-link {
    text-decoration: none;
    padding: 1.6rem 0;
    color: #6A6A6A;
    border-top: 1px solid black;
    padding-left: 2em;
    width: 16em;
}

.nav-link:hover {
    color:gray;
}

#main-doc {
    display: grid;
    justify-content: start;
    margin-left: 25em;
}

.main-section {
    display: grid;
    height: auto;
}


.sec-header {
    font-size: 2em;
    font-weight: 500;
    padding: 2rem 0 2rem 0;
}

.para {
    line-height: 1.5;
    color: #6A6A6A;
    padding-left: 1em;
}

.code {
    background-color: #f7f7f7;
    width: auto;
    padding: 1em 0 2em 2.5em;
    margin: 2rem 1em 2em 1em;
    line-height: 1.5em;
}

.code span {
    color: red;
}

.ruleset {
    margin-top: 1em;
    list-style-type: none;
    margin-left: 2em;
}

#Anatomy_Of_CSS_Ruleset {
    margin-top: 2em;
}

.ruleset li h2{
    padding: 1.7rem 0;
    font-size: 1.3rem;
}

.ruleset li p {
    color: #6A6A6A;
    line-height: 1.5;
}

.inline {
    background-color: #f7f7f7;
    color: gray;
}

#blue {
    color: blue;
}

#code2 {
    margin-left: 2em;
}

#green {
    color: green;
}

#ruleset1 {
    list-style-type: disc;
    margin: 3em;
    color: #6A6A6A;
}

#ruleset1 li {
    padding: 0.6em 0;
}

#code1 {
    margin-top: 0;
}

#Conclusion{
    margin: 3em 0 5em 0;
}

@media (max-width: 580px) {

    #navbar {
        position: fixed;
        top:10;
        width: 100%;
        height: 5em;
        border-bottom: 2px solid #8B8B8B;
        display: flex;
        flex-direction: row;
        padding: 0;
        background-color: lightgray;
    }

    header h1{
        font-size: 1.4rem;
        font-weight: 500;
        padding-left: 1em;
        align-self: flex-start;
        display: inline-block;
    }
    
    header h1 span {
        color: #6A6A6A;
        font-size: 1.1rem;
    }
    
    #navbar ul {
        display: none;
        list-style-type: none;
        align-self: flex-end;
        padding: 0;
    }
    
    .nav-link {
        text-decoration: none;
        color: #6A6A6A;
        display: inline;
        padding: 0;
        border: none;
 }
        
                
#main-doc {
    display: grid;
    justify-content: start;
    margin-left: 0;
    margin-top: 7em;
    text-align: left;
}
}